@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


li {
    list-style-type: none;
}

.sage {
    background-color: #8A9A5B;
}

.center {
    text-align: center;
}

h1 {
    color: #8A9A5B;
    font-family: 'Abril Fatface', cursive;
}

.imgsize {
    background-size: 100% 100%;
    text-align: left;
}

h5 {
    color: #faf3dd;
    font-family: 'Work Sans', sans-serif;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 14pt;
    color: #faf3dd;
}

button:hover {
    background-color: #faf3dd;
    color: black;
}

.white {
    color: rgb(224, 224, 212);
    font-size: large;
}

.container {
    background-color: #629375;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.box {
    border: solid;
    border-color: rgb(224, 224, 212);
    background-color: rgb(224, 224, 212);
    width: 70%;
    padding: 5px;
    margin: auto;
    color: rgb(56, 47, 47);
}