@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

li {
    list-style-type: none;
}

.sage {
    background-color: #8A9A5B;
}

.center {
    text-align: center;
}

h1 {
    color: #8A9A5B;
    font-family: 'Abril Fatface', cursive;
}