@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

li {
    list-style-type: none;
}

.sage {
    background-color: #8A9A5B;
}

h1 {
    color: #8A9A5B;
    font-family: 'Abril Fatface', cursive;
}

body {
    background-color: rgb(252, 252, 238);
    width: 1450px;
    height: 750px;
}

.imagesize {
    object-fit: cover;
    height: 250px;
    width: 250px;
    margin: 20px;
    border: solid 5px;
    border-color: #8A9A5B;
    border-radius: 50%;
}

.imgsize {
    background-size: 100% 100%;
    height: 5rem;
    width: 14rem;
    text-align: left;
    padding: 10px;
}

.images {
    text-align: center;
    margin: auto;
}

h5 {
    color: #faf3dd;
    font-family: 'Work Sans', sans-serif;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 14pt;
    color: #faf3dd;
}

button:hover {
    background-color: #faf3dd;
    color: black;
}

.flex-row {
    display: flex;
}

.center {
    margin-left: 30.5%;
    margin-top: 10px;
}

.box {
    inline-size: 500px;
    overflow-wrap: break-word;
}

h3 {
    font-family: 'Abril Fatface', cursive;
}

p {
    font-family: 'Work Sans', sans-serif;
}

.pale {
    background-color: #b8c1a1;
}

.cream {
    background-color: rgb(252, 252, 238);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

h6 {
    color: #faf3dd;
    font-family: 'Work Sans', sans-serif;
}

@media screen and (min-width: 1024px) {
    .box {
        inline-size: 1000px;
        overflow-wrap: break-word;
    }
}