@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

li {
    list-style-type: none;
}

.sage {
    background-color: #8A9A5B;
}

.center {
    text-align: center;
}

h1 {
    color: #8A9A5B;
    font-family: 'Abril Fatface', cursive;
}

.imgsize {
    background-size: 100% 100%;
    height: 5rem;
    width: 14rem;
    text-align: left;
    padding: 10px;
}

h5 {
    color: #faf3dd;
    font-family: 'Work Sans', sans-serif;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 14pt;
    color: #faf3dd;
}

button:hover {
    background-color: #faf3dd;
    color: black;
}