@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

li {
    list-style-type: none;
}

.sage {
    background-color: #8A9A5B;
}

.center {
    text-align: center;
}

h1 {
    color: #8A9A5B;
    font-family: 'Abril Fatface', cursive;
}

.imgsize {
    background-size: 100% 100%;
    text-align: left;
}

h5 {
    color: #faf3dd;
    font-family: 'Work Sans', sans-serif;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 14pt;
    color: #faf3dd;
}

button:hover {
    background-color: #faf3dd;
    color: black;
}

.form-group {
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    background: #629375;
}

.form {
    text-align: center;
    width: 45%;
    margin: auto;
    padding: 20px;
}

.input {
    width: 80%;
    height: 30px;
    border-color: rgb(196, 196, 193);
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: rgb(224, 224, 212);
}

.label {
    color: rgb(224, 224, 212);
    font-size: 15px;
}

.button {
    background-color: rgb(224, 224, 212);
    color: rgb(56, 47, 47);
    margin-left: 20px;
    border-radius: 20%;
    border-color: rgb(196, 196, 193);
}