
<img src="../../assets/tagalong.jpeg" alt="Tagalong Logo" class="imgsize">

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="label" for="title">
            Full Name
        </label>
        <br>
        <input class="input" type="text" placeholder="Name" formControlName="name">
        <br>
        <label class="label" for="title">
            Email
        </label>
        <br>
        <input class="input" type="text" placeholder="Email">
        <br>
        <label class="label" for="title">
            Password
        </label>
        <br>
        <input class="input" type="text" placeholder="Password">
        <br>
        <label class="label" for="title">
            Describe the best way for people to reach out to you
        </label>
        <br>
        <input class="input" type="text" placeholder="Contact Method" formControlName="contact">
        <br>
        <label class="label" for="title">
            Write a short description about yourself
        </label>
        <br>
        <textarea class="input" style="height: 100px;" type="text" placeholder="Biography" formControlName="bio">Biography</textarea>
        <br>
        <a [routerLink]="['/']">
            <button class="button" type="submit">
                Log-in
            </button>
        </a>
        <a>
            <button class="button" type="submit">
                Sign-up!
            </button>
        </a>
        <br>
        <p style="color: white;">By signing in you agree with the Terms and Conditions and Privacy</p>
    </div>
</form>
